.engine-title {
  position: relative;
  color: white;
  text-align: center;
}

.search-engine-container {
  position: relative;
  top: 10rem;
  align-content: center;
  width: 100%;
}

.search-results {
  position: relative;
  color: blue;
  flex: auto;
  width: 35.5rem;
  left: 28rem;
  background-color: white;
}

.search-box {
  position: relative;
  display: block;
  width: 35rem;
  height: 1.5rem;
  left: 30.5rem;
}

.text-container {
  padding: .5rem;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 0rem;  
}

.unfocused-item{
  background-color: white;
}

.focused-item{
  background-color: gray;
}